<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Container</title>
    <link rel="stylesheet" href="/css/chatContainer.css">
</head>
<body>
    <div class="chat-container">
        <h1>Your Chat</h1>
        <div class="chat-messages">
           
        </div>
        <form class="chat-input" action="/chat" method="POST">
            <input type="text" id="messageInput" placeholder="Type your message">
            <button type="submit" id="sendButton">Send</button>
        </form>
    </div>

    
</body>
</html>